In [259]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import requests
import os
import time
import json
import math

In [260]:
#List of S&P 500 tickers from: https://stockmarketmba.com/stocksinthesp500.php

ticker_list = pd.read_csv('SP500_index.csv')['Symbol']
ticker_list

0       AAPL
1       MSFT
2       GOOG
3      GOOGL
4       AMZN
       ...
498     LUMN
499      ALK
500      NWL
501      VNO
502      TAP
Name: Symbol, Length: 503, dtype: object

In [261]:
def income_puller(ticker):
    url=f'https://stockrow.com/api/companies/{ticker}/financials.xlsx?dimension=T&section=Income%20Statement&sort=desc'
    response = requests.get(url)
    with open(os.path.join("StockRow_financials/Excel", f"{ticker}_inc.xlsx"), 'wb') as f:
        f.write(response.content)
    time.sleep(0.25)

def csv_maker(ticker):
    #this section reads the Excel file and turns into a CSV
    ticker_df = pd.read_excel(f'StockRow_financials/Excel/{ticker}_inc.xlsx').T
    # change the first row to the columns
    ticker_df.columns = ticker_df.iloc[0]
    #remove the first row
    ticker_df = ticker_df.iloc[1:]
    
    ticker_df['Ticker'] = f"{ticker}"
    
    ticker_df.to_csv(f'StockRow_financials/CSV/{ticker}_inc.csv',index_label="Date")

#### This code pulls financial information from StockRow.com

In [262]:
#do not call this function unless you have 15 minutes to kill
#also note that it overwrites all the previously downloaded Excel workbooks
#start_time = time.time()
#
#for ticker in ticker_list:
#    try:
#        income_puller(ticker)
#    except:
#        print(f"Ticker {ticker} throws an error")
#    
#print(f"Code took {np.round(time.time() - start_time,2)} seconds to run")

#### This code converts the StockRow workbooks from Excel files to CSV files

In [263]:
start_time = time.time()

for ticker in ticker_list:
    try:
        csv_maker(ticker)
    except:
        print(f"Ticker {ticker} throws an error")
    
print(f"Code took {np.round(time.time() - start_time,2)} seconds to run")

Ticker AAPL throws an error
Ticker MSFT throws an error
Ticker GOOG throws an error
Ticker GOOGL throws an error
Ticker AMZN throws an error
Ticker BRK.B throws an error
Ticker TSLA throws an error
Ticker UNH throws an error
Ticker XOM throws an error
Ticker JNJ throws an error
Ticker WMT throws an error
Ticker V throws an error
Ticker NVDA throws an error
Ticker JPM throws an error
Ticker CVX throws an error
Ticker LLY throws an error
Ticker PG throws an error
Ticker MA throws an error
Ticker HD throws an error
Ticker META throws an error
Ticker BAC throws an error
Ticker PFE throws an error
Ticker ABBV throws an error
Ticker KO throws an error
Ticker MRK throws an error
Ticker PEP throws an error
Ticker COST throws an error
Ticker ORCL throws an error
Ticker TMO throws an error
Ticker AVGO throws an error
Ticker MCD throws an error
Ticker CSCO throws an error
Ticker ACN throws an error
Ticker DHR throws an error
Ticker TMUS throws an error
Ticker ABT throws an error
Ticker WFC throws an error
Ticker DIS throws an error
Ticker NKE throws an error
Ticker BMY throws an error
Ticker NEE throws an error
Ticker COP throws an error
Ticker LIN throws an error
Ticker VZ throws an error
Ticker TXN throws an error
Ticker ADBE throws an error
Ticker AMGN throws an error
Ticker UPS throws an error
Ticker MS throws an error
Ticker CRM throws an error
Ticker CMCSA throws an error
Ticker PM throws an error
Ticker HON throws an error
Ticker SCHW throws an error
Ticker RTX throws an error
Ticker QCOM throws an error
Ticker T throws an error
Ticker IBM throws an error
Ticker NFLX throws an error
Ticker LOW throws an error
Ticker UNP throws an error
Ticker GS throws an error
Ticker CVS throws an error
Ticker DE throws an error
Ticker LMT throws an error
Ticker INTC throws an error
Ticker CAT throws an error
Ticker AMD throws an error
Ticker SPGI throws an error
Ticker ELV throws an error
Ticker AXP throws an error
Ticker SBUX throws an error
Ticker BLK throws an error
Ticker INTU throws an error
Ticker MDT throws an error
Ticker ADP throws an error
Ticker GILD throws an error
Ticker PLD throws an error
Ticker BA throws an error
Ticker AMT throws an error
Ticker PYPL throws an error
Ticker CI throws an error
Ticker C throws an error
Ticker GE throws an error
Ticker ISRG throws an error
Ticker TJX throws an error
Ticker AMAT throws an error
Ticker MDLZ throws an error
Ticker CB throws an error
Ticker EOG throws an error
Ticker ADI throws an error
Ticker SYK throws an error
Ticker MMC throws an error
Ticker EL throws an error
Ticker NOW throws an error
Ticker NOC throws an error
Ticker VRTX throws an error
Ticker REGN throws an error
Ticker MO throws an error
Ticker BKNG throws an error
Ticker SLB throws an error
Ticker PGR throws an error
Ticker TGT throws an error
Ticker DUK throws an error
Ticker SO throws an error
Ticker MRNA throws an error
Ticker MMM throws an error
Ticker ITW throws an error
Ticker GD throws an error
Ticker ZTS throws an error
Ticker HUM throws an error
Ticker WM throws an error
Ticker CSX throws an error
Ticker APD throws an error
Ticker OXY throws an error
Ticker ETN throws an error
Ticker HCA throws an error
Ticker PNC throws an error
Ticker MU throws an error
Ticker USB throws an error
Ticker LRCX throws an error
Ticker CL throws an error
Ticker BDX throws an error
Ticker FISV throws an error
Ticker CME throws an error
Ticker PXD throws an error
Ticker SHW throws an error
Ticker AON throws an error
Ticker BSX throws an error
Ticker TFC throws an error
Ticker CHTR throws an error
Ticker EQIX throws an error
Ticker MET throws an error
Ticker ICE throws an error
Ticker CCI throws an error
Ticker ATVI throws an error
Ticker DG throws an error
Ticker NSC throws an error
Ticker MPC throws an error
Ticker EMR throws an error
Ticker F throws an error
Ticker GM throws an error
Ticker KLAC throws an error
Ticker VLO throws an error
Ticker MCO throws an error
Ticker KDP throws an error
Ticker MCK throws an error
Ticker FCX throws an error
Ticker ADM throws an error
Ticker ORLY throws an error
Ticker PSX throws an error
Ticker MNST throws an error
Ticker PSA throws an error
Ticker MAR throws an error
Ticker SNPS throws an error
Ticker D throws an error
Ticker SRE throws an error
Ticker GIS throws an error
Ticker APH throws an error
Ticker CTVA throws an error
Ticker DVN throws an error
Ticker ADSK throws an error
Ticker KHC throws an error
Ticker AZO throws an error
Ticker CNC throws an error
Ticker AEP throws an error
Ticker EW throws an error
Ticker ROP throws an error
Ticker HSY throws an error
Ticker CDNS throws an error
Ticker HES throws an error
Ticker JCI throws an error
Ticker CTAS throws an error
Ticker FDX throws an error
Ticker AIG throws an error
Ticker NXPI throws an error
Ticker AFL throws an error
Ticker DXCM throws an error
Ticker BIIB throws an error
Ticker KMB throws an error
Ticker PAYX throws an error
Ticker TRV throws an error
Ticker A throws an error
Ticker MSI throws an error
Ticker SYY throws an error
Ticker ENPH throws an error
Ticker FTNT throws an error
Ticker LHX throws an error
Ticker ECL throws an error
Ticker RSG throws an error
Ticker CMG throws an error
Ticker KMI throws an error
Ticker MCHP throws an error
Ticker O throws an error
Ticker ANET throws an error
Ticker WMB throws an error
Ticker TT throws an error
Ticker AJG throws an error
Ticker PRU throws an error
Ticker STZ throws an error
Ticker TEL throws an error
Ticker IQV throws an error
Ticker MSCI throws an error
Ticker PH throws an error
Ticker COF throws an error
Ticker SPG throws an error
Ticker HLT throws an error
Ticker EXC throws an error
Ticker XEL throws an error
Ticker DLTR throws an error
Ticker NUE throws an error
Ticker FIS throws an error
Ticker PCAR throws an error
Ticker CARR throws an error
Ticker ALL throws an error
Ticker EA throws an error
Ticker BK throws an error
Ticker NEM throws an error
Ticker ILMN throws an error
Ticker DOW throws an error
Ticker CMI throws an error
Ticker WBA throws an error
Ticker YUM throws an error
Ticker KR throws an error
Ticker DD throws an error
Ticker AMP throws an error
Ticker HAL throws an error
Ticker IDXX throws an error
Ticker ROST throws an error
Ticker LVS throws an error
Ticker BF.B throws an error
Ticker ODFL throws an error
Ticker CSGP throws an error
Ticker TDG throws an error
Ticker ABC throws an error
Ticker ALB throws an error
Ticker ED throws an error
Ticker OTIS throws an error
Ticker RMD throws an error
Ticker NDAQ throws an error
Ticker AME throws an error
Ticker WELL throws an error
Ticker DLR throws an error
Ticker SBAC throws an error
Ticker MTD throws an error
Ticker ON throws an error
Ticker VICI throws an error
Ticker CTSH throws an error
Ticker GWW throws an error
Ticker BKR throws an error
Ticker PPG throws an error
Ticker ROK throws an error
Ticker KEYS throws an error
Ticker HPQ throws an error
Ticker FAST throws an error
Ticker CEG throws an error
Ticker WEC throws an error
Ticker DFS throws an error
Ticker PCG throws an error
Ticker MTB throws an error
Ticker APTV throws an error
Ticker FANG throws an error
Ticker OKE throws an error
Ticker DHI throws an error
Ticker GLW throws an error
Ticker PEG throws an error
Ticker TROW throws an error
Ticker BAX throws an error
Ticker STT throws an error
Ticker ES throws an error
Ticker LYB throws an error
Ticker VRSK throws an error
Ticker WBD throws an error
Ticker GPN throws an error
Ticker IT throws an error
Ticker HRL throws an error
Ticker AWK throws an error
Ticker RJF throws an error
Ticker GPC throws an error
Ticker WTW throws an error
Ticker IFF throws an error
Ticker CDW throws an error
Ticker EBAY throws an error
Ticker EFX throws an error
Ticker FITB throws an error
Ticker LEN throws an error
Ticker ARE throws an error
Ticker URI throws an error
Ticker K throws an error
Ticker TSCO throws an error
Ticker WY throws an error
Ticker CBRE throws an error
Ticker ZBH throws an error
Ticker TSN throws an error
Ticker FTV throws an error
Ticker VMC throws an error
Ticker EQR throws an error
Ticker HIG throws an error
Ticker AVB throws an error
Ticker EIX throws an error
Ticker LUV throws an error
Ticker MKC throws an error
Ticker ULTA throws an error
Ticker ETR throws an error
Ticker PFG throws an error
Ticker FRC throws an error
Ticker DTE throws an error
Ticker DAL throws an error
Ticker IR throws an error
Ticker MLM throws an error
Ticker AEE throws an error
Ticker FE throws an error
Ticker HBAN throws an error
Ticker PWR throws an error
Ticker ANSS throws an error
Ticker CTRA throws an error
Ticker ACGL throws an error
Ticker RF throws an error
Ticker EXR throws an error
Ticker VRSN throws an error
Ticker LH throws an error
Ticker ROL throws an error
Ticker PPL throws an error
Ticker CAH throws an error
Ticker CF throws an error
Ticker HPE throws an error
Ticker XYL throws an error
Ticker MRO throws an error
Ticker CFG throws an error
Ticker EPAM throws an error
Ticker DOV throws an error
Ticker PAYC throws an error
Ticker WRB throws an error
Ticker WAT throws an error
Ticker TDY throws an error
Ticker NTRS throws an error
Ticker INVH throws an error
Ticker JBHT throws an error
Ticker CNP throws an error
Ticker AES throws an error
Ticker CHD throws an error
Ticker MOH throws an error
Ticker CLX throws an error
Ticker MAA throws an error
Ticker HOLX throws an error
Ticker WAB throws an error
Ticker DRI throws an error
Ticker EXPD throws an error
Ticker MPWR throws an error
Ticker AMCR throws an error
Ticker J throws an error
Ticker IEX throws an error
Ticker KEY throws an error
Ticker GRMN throws an error
Ticker INCY throws an error
Ticker VTR throws an error
Ticker PKI throws an error
Ticker BALL throws an error
Ticker MOS throws an error
Ticker CMS throws an error
Ticker ABMD throws an error
Ticker BR throws an error
Ticker CAG throws an error
Ticker TTWO throws an error
Ticker SEDG throws an error
Ticker FDS throws an error
Ticker DGX throws an error
Ticker CINF throws an error
Ticker LYV throws an error
Ticker STE throws an error
Ticker WST throws an error
Ticker FOX throws an error
Ticker FOXA throws an error
Ticker TRGP throws an error
Ticker FMC throws an error
Ticker SYF throws an error
Ticker BRO throws an error
Ticker NTAP throws an error
Ticker BBY throws an error
Ticker ATO throws an error
Ticker OMC throws an error
Ticker SJM throws an error
Ticker EQT throws an error
Ticker CPRT throws an error
Ticker ALGN throws an error
Ticker CPB throws an error
Ticker APA throws an error
Ticker HWM throws an error
Ticker AVY throws an error
Ticker SWKS throws an error
Ticker COO throws an error
Ticker IRM throws an error
Ticker RCL throws an error
Ticker EXPE throws an error
Ticker GEN throws an error

Ticker PTC throws an error
Ticker TXT throws an error
Ticker TER throws an error
Ticker LDOS throws an error
Ticker ETSY throws an error
Ticker AKAM throws an error
Ticker TRMB throws an error
Ticker MGM throws an error
Ticker LKQ throws an error
Ticker UAL throws an error
Ticker NVR throws an error
Ticker FLT throws an error
Ticker KIM throws an error
Ticker LNT throws an error
Ticker ESS throws an error
Ticker JKHY throws an error
Ticker EVRG throws an error
Ticker TYL throws an error
Ticker L throws an error
Ticker VTRS throws an error
Ticker ZBRA throws an error
Ticker SIVB throws an error
Ticker MTCH throws an error
Ticker CBOE throws an error
Ticker PEAK throws an error
Ticker NDSN throws an error
Ticker BEN throws an error
Ticker TECH throws an error
Ticker DPZ throws an error
Ticker UDR throws an error
Ticker HST throws an error
Ticker IPG throws an error
Ticker IP throws an error
Ticker VFC throws an error
Ticker POOL throws an error
Ticker SNA throws an error
Ticker RE throws an error
Ticker CPT throws an error
Ticker CRL throws an error
Ticker PARA throws an error
Ticker PKG throws an error
Ticker LW throws an error
Ticker SWK throws an error
Ticker BIO throws an error
Ticker WDC throws an error
Ticker STX throws an error
Ticker CHRW throws an error
Ticker REG throws an error
Ticker BXP throws an error
Ticker MAS throws an error
Ticker GL throws an error
Ticker CE throws an error
Ticker HSIC throws an error
Ticker CZR throws an error
Ticker KMX throws an error
Ticker CCL throws an error
Ticker NWS throws an error
Ticker NWSA throws an error
Ticker NI throws an error
Ticker CDAY throws an error
Ticker TFX throws an error
Ticker EMN throws an error
Ticker QRVO throws an error
Ticker JNPR throws an error
Ticker PHM throws an error
Ticker ALLE throws an error
Ticker BWA throws an error
Ticker MKTX throws an error
Ticker NRG throws an error
Ticker UHS throws an error
Ticker WRK throws an error
Ticker CMA throws an error
Ticker AOS throws an error
Ticker AAL throws an error
Ticker HII throws an error
Ticker AAP throws an error
Ticker BBWI throws an error
Ticker FFIV throws an error
Ticker WYNN throws an error
Ticker FRT throws an error
Ticker IVZ throws an error
Ticker TPR throws an error
Ticker RHI throws an error
Ticker FBHS throws an error
Ticker PNW throws an error
Ticker DISH throws an error
Ticker HAS throws an error
Ticker WHR throws an error
Ticker SBNY throws an error
Ticker ZION throws an error
Ticker CTLT throws an error
Ticker PNR throws an error
Ticker SEE throws an error
Ticker RL throws an error
Ticker NCLH throws an error
Ticker XRAY throws an error
Ticker DXC throws an error
Ticker AIZ throws an error
Ticker GNRC throws an error
Ticker MHK throws an error
Ticker DVA throws an error
Ticker LNC throws an error
Ticker OGN throws an error
Ticker LUMN throws an error
Ticker ALK throws an error
Ticker NWL throws an error
Ticker VNO throws an error
Ticker TAP throws an error
Code took 0.78 seconds to run

#### This code combines all downloaded CSV files (for which we have a ticker) into one Pandas DataFrame

In [264]:
starter_df = pd.read_csv(f'StockRow_financials/CSV/{ticker_list[0]}_inc.csv')

start_time = time.time()

for ticker in ticker_list[1:]:
    try:        
        ticker_df = pd.read_csv(f'StockRow_financials/CSV/{ticker}_inc.csv')
        starter_df = pd.concat([starter_df,ticker_df])
    except:
        print(f'Ticker {ticker} threw an error')
    
        
        
print(f"This code took {time.time() - start_time} seconds")

Ticker META threw an error
Ticker ELV threw an error
Ticker BALL threw an error
Ticker TRGP threw an error
Ticker GEN threw an error
This code took 8.67333698272705 seconds

In [265]:
#save the DataFrame as one large CSV
starter_df.to_csv('SP500_allFinancials.csv',index=False)

#### Narrow the financial columns, convert "Date" to a DateTime object, create a "Year" field

In [266]:
starter_df = starter_df[['Ticker', 'Date', 'Revenue', 'Gross Profit',
                         'Operating Income', 'Income after Tax', 'Net Income Common']].reset_index(drop=True)

starter_df['Date'] = pd.to_datetime(starter_df['Date'])
starter_df['Year'] = pd.DatetimeIndex(starter_df['Date']).year

In [267]:
#example of grouping the data the find the average financial values for each calendar year
starter_df[starter_df['Ticker']=='AAPL'].groupby('Year').mean()

,Revenue,Gross Profit,Operating Income,Income after Tax,Net Income Common
Year,,,,,
2012,1.646870e+11,6.901900e+10,5.511100e+10,4.174700e+10,4.174700e+10
2013,1.708525e+11,6.525800e+10,5.011225e+10,3.787200e+10,3.787200e+10
2014,1.841935e+11,7.101400e+10,5.336100e+10,4.005850e+10,4.005850e+10
2015,2.263010e+11,9.029050e+10,6.853200e+10,5.141750e+10,5.141750e+10
2016,2.203950e+11,8.646250e+10,6.224650e+10,4.734475e+10,4.734475e+10
2017,2.280935e+11,8.771550e+10,6.122750e+10,4.781425e+10,4.781425e+10
2018,2.574745e+11,9.855900e+10,6.820600e+10,5.710000e+10,5.710000e+10
2019,2.613452e+11,9.912250e+10,6.499925e+10,5.641200e+10,5.641200e+10
2020,2.776220e+11,1.064325e+11,6.831750e+10,5.924500e+10,5.924500e+10
2021,3.541752e+11,1.469285e+11,1.036732e+11,8.958700e+10,8.958700e+10
2022,3.892957e+11,1.686247e+11,1.190483e+11,1.004570e+11,1.004570e+11

In [268]:
#grouping the data to find average values per year for every ticker
condensed_finances_df = starter_df.groupby(['Ticker','Year']).mean()
condensed_finances_df

                  Revenue  Gross Profit  Operating Income  Income after Tax  \
Ticker Year
A      2013  6.854500e+09  3.569250e+09      9.845000e+08      9.442500e+08
       2014  5.252250e+09  2.680750e+09      6.885000e+08      4.702500e+08
       2015  4.619250e+09  2.308250e+09      5.257500e+08      3.070000e+08
       2016  4.116000e+09  2.130250e+09      5.877500e+08      4.672500e+08
       2017  4.357750e+09  2.319750e+09      7.500000e+08      6.020000e+08
...                   ...           ...               ...               ...
ZTS    2018  5.644000e+09  3.819000e+09      1.673500e+09      1.166000e+09
       2019  6.092500e+09  4.097500e+09      1.727250e+09      1.430500e+09
       2020  6.474000e+09  4.500250e+09      1.967500e+09      1.631250e+09
       2021  7.454000e+09  5.169500e+09      2.354000e+09      1.922500e+09
       2022  7.964333e+09  5.451667e+09      2.553333e+09      2.074000e+09

             Net Income Common
Ticker Year
A      2013       9.442500e+08
       2014       6.605000e+08
       2015       3.390000e+08
       2016       4.650000e+08
       2017       6.020000e+08
...                        ...
ZTS    2018       1.171250e+09
       2019       1.431000e+09
       2020       1.632250e+09
       2021       1.925500e+09
       2022       2.076667e+09

[5330 rows x 5 columns]

In [269]:
#sanity check using AAPL
condensed_finances_df.loc['AAPL']

,Revenue,Gross Profit,Operating Income,Income after Tax,Net Income Common
Year,,,,,
2012,1.646870e+11,6.901900e+10,5.511100e+10,4.174700e+10,4.174700e+10
2013,1.708525e+11,6.525800e+10,5.011225e+10,3.787200e+10,3.787200e+10
2014,1.841935e+11,7.101400e+10,5.336100e+10,4.005850e+10,4.005850e+10
2015,2.263010e+11,9.029050e+10,6.853200e+10,5.141750e+10,5.141750e+10
2016,2.203950e+11,8.646250e+10,6.224650e+10,4.734475e+10,4.734475e+10
2017,2.280935e+11,8.771550e+10,6.122750e+10,4.781425e+10,4.781425e+10
2018,2.574745e+11,9.855900e+10,6.820600e+10,5.710000e+10,5.710000e+10
2019,2.613452e+11,9.912250e+10,6.499925e+10,5.641200e+10,5.641200e+10
2020,2.776220e+11,1.064325e+11,6.831750e+10,5.924500e+10,5.924500e+10
2021,3.541752e+11,1.469285e+11,1.036732e+11,8.958700e+10,8.958700e+10
2022,3.892957e+11,1.686247e+11,1.190483e+11,1.004570e+11,1.004570e+11

In [270]:
execpay_df = pd.read_csv('main_SCT_pay_file.csv')

execpay_df = execpay_df[execpay_df['ticker'].isin(ticker_list)]

execpay_df

,id,cik,ticker,name,position,year,salary,bonus,stockAwards,optionAwards,nonEquityIncentiveCompensation,otherCompensation,total,changeInPensionValueAndDeferredEarnings,CEO,CFO,Interim
0,73b3a60ba203743c008330c96b7d8b66,1090872,A,Sam Raha,"Senior Vice President, President Diagnostics a...",2021,563500,0,1541332,0,738536,33534,3262887,NaN,False,False,False
1,97393f60cd9f321650e472673daaa70c,1090872,A,Michael R. McMullen,Chief Executive Officer,2021,1280000,0,9165390,0,3149714,77512,15967631,NaN,True,False,False
2,83b9cc2bca477fe8ce23e0ab56e70c66,1090872,A,Jacob Thaysen,"Senior Vice President, President Life Sciences...",2021,625000,0,1812285,0,897589,13684,3802349,NaN,False,False,False
3,7c60bb804071675ae15ec930f6dea190,1090872,A,Robert McMahon,"Senior Vice President, Chief Financial Officer",2021,663500,0,2291271,0,1007000,176196,4711733,NaN,False,True,False
4,259b710a8befe67c61a2c3dec14f344a,1090872,A,Padraig McDonnell,"Senior Vice President, President Cross-Lab Group",2021,495000,0,1249771,0,686716,499472,3243927,NaN,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140505,509ce14e56d662f93a33c221556bee61,829224,SBUX,Clifford Burrows,"president, Starbucks Coffee Americas and US",2011,678942,0,2050337,909284,633822,53391,4325776,NaN,False,False,False
140509,ca5ec5821d6a445f90716a3d9695b490,1393612,DFS,Harit Talwar,"EVP, President—US Cards",2010,1750000,875000,0,9292,0,0,3531442,17150.0,False,False,False
140517,5182311313ab849b40a9a5063ec9b2da,1175454,FLT,Todd W. House,"President, US Direct Business & Chief Operatin...",2010,275000,40000,787500,1293779,110000,22487,2528766,0.0,False,False,False
140520,1c4e649f102fc4f3523b36f94390bd72,14272,BMY,Anthony C. Hooper,"SVP Commercial Operations & President US, Japa...",2010,800000,0,2649962,0,1276236,267872,6148512,NaN,False,False,False
140535,8a25b731a4a44ab8020d41f1beda5ba5,1175454,FLT,Todd W. House,"President, US Direct Business & Chief Operatin...",2009,192877,63906,0,357000,36094,10679,660556,0.0,False,False,False

In [271]:
main_df = execpay_df.merge(condensed_finances_df,left_on=['ticker','year'], right_on=['Ticker','Year'])

In [272]:
main_df

,id,cik,ticker,name,position,year,salary,bonus,stockAwards,optionAwards,...,total,changeInPensionValueAndDeferredEarnings,CEO,CFO,Interim,Revenue,Gross Profit,Operating Income,Income after Tax,Net Income Common
0,73b3a60ba203743c008330c96b7d8b66,1090872,A,Sam Raha,"Senior Vice President, President Diagnostics a...",2021,563500,0,1541332,0,...,3262887,NaN,False,False,False,5.952000e+09,3.193250e+09,1.175500e+09,9.837500e+08,983750000.0
1,97393f60cd9f321650e472673daaa70c,1090872,A,Michael R. McMullen,Chief Executive Officer,2021,1280000,0,9165390,0,...,15967631,NaN,True,False,False,5.952000e+09,3.193250e+09,1.175500e+09,9.837500e+08,983750000.0
2,83b9cc2bca477fe8ce23e0ab56e70c66,1090872,A,Jacob Thaysen,"Senior Vice President, President Life Sciences...",2021,625000,0,1812285,0,...,3802349,NaN,False,False,False,5.952000e+09,3.193250e+09,1.175500e+09,9.837500e+08,983750000.0
3,7c60bb804071675ae15ec930f6dea190,1090872,A,Robert McMahon,"Senior Vice President, Chief Financial Officer",2021,663500,0,2291271,0,...,4711733,NaN,False,True,False,5.952000e+09,3.193250e+09,1.175500e+09,9.837500e+08,983750000.0
4,259b710a8befe67c61a2c3dec14f344a,1090872,A,Padraig McDonnell,"Senior Vice President, President Cross-Lab Group",2021,495000,0,1249771,0,...,3243927,NaN,False,False,False,5.952000e+09,3.193250e+09,1.175500e+09,9.837500e+08,983750000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28435,7b803e9ff0f142d5b1c36b5fdbaced15,1564708,NWS,Gerson Zweifach,General Counsel,2014,1500000,0,0,0,...,1500000,NaN,False,False,False,8.548750e+09,3.453500e+09,4.040000e+08,1.545000e+08,-29750000.0
28436,473bf52703cdbffdc9b311d8dee9101a,1564708,NWS,Bedi Ajay Singh,Chief Financial Officer,2013,655769,713425,496499,0,...,2087442,NaN,False,True,False,8.822667e+09,3.454667e+09,2.525000e+08,2.126667e+08,169000000.0
28437,c36a1d9990a2218f8d2a09b25fb7cd65,1564708,NWS,Robert J. Thomson,Chief Executive Officer,2013,992308,1000000,0,0,...,2661463,NaN,True,False,False,8.822667e+09,3.454667e+09,2.525000e+08,2.126667e+08,169000000.0
28438,7d64a65ecf544ffd0ce4d4ada1607c73,1564708,NWS,Gerson Zweifach,General Counsel,2013,0,0,0,0,...,0,NaN,False,False,False,8.822667e+09,3.454667e+09,2.525000e+08,2.126667e+08,169000000.0
28439,abc0667932c203c041cae8baae64f178,1564708,NWS,K. Rupert Murdoch,Executive Chairman,2013,0,0,0,0,...,0,NaN,False,False,False,8.822667e+09,3.454667e+09,2.525000e+08,2.126667e+08,169000000.0

In [273]:
main_df.ticker.value_counts()

A       112
MTCH     99
JCI      92
APA      90
EXC      88
       ...
CARR     16
CME      14
AMP       5
VTRS      5
OGN       5
Name: ticker, Length: 485, dtype: int64

In [274]:
apple_df = main_df[main_df['ticker']=='AAPL']
apple_df
apple_df_2021 = apple_df[apple_df['year']==2020]
apple_df_2021
rev_2021 = apple_df_2021['Revenue']
rev_2021
# Making sure we can perform calculations with this, looking for 'float' or 'int'
type(rev_2021)

apple_df_2012 = apple_df[apple_df['year']==2012]
rev_2012 = max(apple_df_2012['Revenue'])

subtracted_rev = rev_2021-rev_2012

percent_rev_change = (subtracted_rev/rev_2012)*100

print("Revenue percentage growth over 10 years: ", percent_rev_change)

Revenue percentage growth over 10 years:  117    68.57554
118    68.57554
119    68.57554
120    68.57554
121    68.57554
Name: Revenue, dtype: float64

In [275]:
main_df_ticker_list = main_df['ticker'].unique()
main_df_ticker_list
data_2012 = []
# data_2013 = []
# data_2014 = []
# data_2015 = []
# data_2016 = []
# data_2017 = []
# data_2018 = []
# data_2019 = []
# data_2020 = []
data_2021 = []
data_change_dollars = []
data_change_percentage = []


data = {"Ticker": main_df_ticker_list,
       "Revenue 2012": data_2012,
#         "Revenue 2013": data_2013,
#         "Revenue 2014": data_2014,
#         "Revenue 2015": data_2015,
#         "Revenue 2016": data_2016,
#        "Revenue 2017": data_2017,
#         "Revenue 2018": data_2018,
#         "Revenue 2019": data_2019,
#         "Revenue 2020": data_2020,
        "Revenue 2021": data_2021,
       "Revenue Change $": data_change_dollars,
       "Revenue Change %": data_change_percentage}

for ticker in main_df_ticker_list:
    ticker_df = main_df[main_df["ticker"]==ticker]
    try:
        ticker_df_2012 = ticker_df[ticker_df["year"]==2012]
        rev_2012 = max(ticker_df_2012["Revenue"])
        data_2012.append(rev_2012)
    except:
        data_2012.append("No Data Available")
#     try:
#         ticker_df_2013 = ticker_df[ticker_df["year"]==2013]
#         rev_2013 = max(ticker_df_2013["Revenue"])
#         data_2013.append(rev_2013)
#     except:
#         data_2013.append("No Data Available")
#     try:
#         ticker_df_2014 = ticker_df[ticker_df["year"]==2014]
#         rev_2014 = max(ticker_df_2014["Revenue"])
#         data_2014.append(rev_2014)
#     except:
#         data_2014.append("No Data Available")
#     try:
#         ticker_df_2015 = ticker_df[ticker_df["year"]==2015]
#         rev_2015 = max(ticker_df_2015["Revenue"])
#         data_2015.append(rev_2015)
#     except:
#         data_2015.append("No Data Available")
#     try:
#         ticker_df_2016 = ticker_df[ticker_df["year"]==2016]
#         rev_2016 = max(ticker_df_2016["Revenue"])
#         data_2016.append(rev_2016)
#     except:
#         data_2016.append("No Data Available")
#     try:
#         ticker_df_2017 = ticker_df[ticker_df["year"]==2017]
#         rev_2017 = max(ticker_df_2017["Revenue"])
#         data_2017.append(rev_2017)
#     except:
#         data_2017.append("No Data Available")
#     try:
#         ticker_df_2018 = ticker_df[ticker_df["year"]==2018]
#         rev_2018 = max(ticker_df_2018["Revenue"])
#         data_2018.append(rev_2018)
#     except:
#         data_2018.append("No Data Available")    
#     try:
#         ticker_df_2019 = ticker_df[ticker_df["year"]==2019]
#         rev_2019 = max(ticker_df_2019["Revenue"])
#         data_2019.append(rev_2019)
#     except:
#         data_2019.append("No Data Available")
#     try:
#         ticker_df_2020 = ticker_df[ticker_df["year"]==2020]
#         rev_2020 = max(ticker_df_2020["Revenue"])
#         data_2020.append(rev_2020)
#     except:
#         data_2020.append("No Data Available")
    try:
        ticker_df_2021 = ticker_df[ticker_df['year']==2021]
        rev_2021 = max(ticker_df_2021['Revenue'])
        data_2021.append(rev_2021)
    except:
        data_2021.append("No Data Available")
    try:
        rev_change_dollars = rev_2021 - rev_2012
        data_change_dollars.append(rev_change_dollars)
    except:
        print("No calculation performed")
    try:
        rev_change_percentage = (rev_change_dollars / rev_2012)*100
        data_change_percentage.append(rev_change_percentage)
    except:
        print("No calculation performed")
        
        

new_df = pd.DataFrame(data)
new_df
no_data_2012 = new_df["Revenue 2012"] == "No Data Available" 
no_data_2021 = new_df["Revenue 2021"] == "No Data Available"
no_calc_2012 = new_df.loc[no_data_2012, ["Revenue Change $", "Revenue Change %"]] = "No Calculation Performed"
no_calc_2022 = new_df.loc[no_data_2021, ["Revenue Change $", "Revenue Change %"]] = "No Calculation Performed"
print(new_df.head(15))
print(new_df.shape)

   Ticker         Revenue 2012         Revenue 2021          Revenue Change $  \
0       A    No Data Available         5952000000.0  No Calculation Performed
1    AAPL       164687000000.0       354175250000.0            189488250000.0
2    MSFT        72930000000.0       172302750000.0             99372750000.0
3    AMZN        61093000000.0  447553750000.000061       386460750000.000061
4    TSLA          413256000.0        44618250000.0             44204994000.0
5   GOOGL    No Data Available    No Data Available  No Calculation Performed
6    GOOG        46039000000.0       228366750000.0            182327750000.0
7     UNH       110618000000.0       275483250000.0            164865250000.0
8     JNJ        67224000000.0        89659750000.0             22435750000.0
9     XOM  480681000000.000122    No Data Available  No Calculation Performed
10    JPM       108074000000.0       127989000000.0             19915000000.0
11   NVDA    No Data Available        20525500000.0  No Calculation Performed
12     PG        81646000000.0        76618000000.0             -5028000000.0
13      V        10720000000.0        23395750000.0             12675750000.0
14    CVX       241909000000.0       129147500000.0           -112761500000.0

            Revenue Change %
0   No Calculation Performed
1                 115.059628
2                 136.257713
3                 632.577791
4               10696.757942
5   No Calculation Performed
6                  396.02891
7                 149.040165
8                  33.374613
9   No Calculation Performed
10                 18.427189
11  No Calculation Performed
12                 -6.158293
13                118.243937
14                -46.613189
(485, 5)

The following code block shows that we have 84 of our 485 companies that do not have data in either 2021 or 2012. Some have both that are missing but overall, we can see that 2012 is the bigger culprit of missing revenue data.

In [276]:
print(f"Missing {new_df['Revenue 2012'].value_counts()['No Data Available']} values in 2012")
print(f"Missing {new_df['Revenue 2021'].value_counts()['No Data Available']} values in 2021")
print(f"Missing {new_df['Revenue Change $'].value_counts()['No Calculation Performed']} change history records overall")

Missing 73 values in 2012
Missing 14 values in 2021
Missing 84 change history records overall

In [277]:
index_no_calc = new_df[new_df['Revenue Change $'] == 'No Calculation Performed'].index
new_df.drop(index_no_calc , inplace=True)
new_df
# print(new_df_filtered.head(15))
# print(new_df_filtered.shape)

,Ticker,Revenue 2012,Revenue 2021,Revenue Change $,Revenue Change %
1,AAPL,164687000000.0,354175250000.0,189488250000.0,115.059628
2,MSFT,72930000000.0,172302750000.0,99372750000.0,136.257713
3,AMZN,61093000000.0,447553750000.000061,386460750000.000061,632.577791
4,TSLA,413256000.0,44618250000.0,44204994000.0,10696.757942
6,GOOG,46039000000.0,228366750000.0,182327750000.0,396.02891
...,...,...,...,...,...
478,ALK,4657000000.0,4455250000.0,-201750000.0,-4.332188
479,DVA,8186280000.0,11573402000.0,3387122000.0,41.375594
481,VNO,2649217100.0,1524119500.0,-1125097600.0,-42.46906
482,DISH,13181334000.0,17680414750.0,4499080750.0,34.132211
483,RL,6924400000.0,5318200000.0,-1606200000.0,-23.196234

In [278]:
# Performing a rank on who grew the most and least, by percentage growth not overall growth
new_df['Growth_Rank'] = new_df['Revenue Change %'].rank(ascending=False)
new_df

# Sorting the rank
rslt_df = new_df.sort_values(by = 'Growth_Rank')
# There are three rows with NaN for 2021 Revenue data to drop
rslt_df = rslt_df.dropna()

In [279]:
rslt_df.head(30)

,Ticker,Revenue 2012,Revenue 2021,Revenue Change $,Revenue Change %,Growth_Rank
4,TSLA,413256000.0,44618250000.0,44204994000.0,10696.757942,1.0
272,FANG,74962000.0,4948250000.0,4873288000.0,6501.011179,2.0
211,DXCM,99900000.0,2241049950.0,2141149950.0,2143.293243,3.0
78,NOW,243712000.0,5357500000.0,5113788000.0,2098.291426,4.0
139,CNC,8110000000.0,120285750000.0,112175750000.0,1383.178175,5.0
400,INCY,297059000.0,2830670425.0,2533611425.0,852.898389,6.0
117,REGN,1378477100.0,12799075000.0,11420597900.0,828.493843,7.0
70,NFLX,3609281800.0,28076899750.0,24467617950.0,677.908218,8.0
279,EPAM,433799000.0,3239886500.0,2806087500.0,646.863524,9.0
3,AMZN,61093000000.0,447553750000.000061,386460750000.000061,632.577791,10.0
406,CBOE,512338000.0,3483075150.0,2970737150.0,579.839315,11.0
149,CHTR,7504000000.0,50411000000.0,42907000000.0,571.78838,12.0
317,ALGN,560041000.0,3499667425.0,2939626425.0,524.89486,13.0
420,ABMD,151794000.0,939890500.0,788096500.0,519.188176,14.0
307,LEN,4105132000.0,25099789500.0,20994657500.0,511.424663,15.0
77,CI,29119000000.0,168514000000.0,139395000000.0,478.70806,16.0
217,FTNT,533639000.0,3026574925.0,2492935925.0,467.157746,17.0
277,DHI,4722500000.0,26726099000.0,22003599000.0,465.931159,18.0
275,SIVB,984264100.0,5356748000.0,4372483900.0,444.238889,19.0
354,ZBRA,996168000.0,5249750000.0,4253582000.0,426.994443,20.0
243,CSGP,349936000.0,1839697325.0,1489761325.0,425.72394,21.0
185,ENPH,216678000.0,1137001250.0,920323250.0,424.74236,22.0
126,ICE,1363000000.0,7075250000.0,5712250000.0,419.09391,23.0
321,MPWR,213813000.0,1071375250.0,857562250.0,401.0805,24.0
6,GOOG,46039000000.0,228366750000.0,182327750000.0,396.02891,25.0
79,TMUS,15961590000.0,79039250000.0,63077660000.0,395.184064,26.0
119,LRCX,3168549000.0,15038472000.0,11869923000.0,374.616993,27.0
97,VRTX,1527042000.0,6950734500.0,5423692500.0,355.17638,28.0
315,MOH,5914209000.0,24585500000.0,18671291000.0,315.702252,29.0
196,MCHP,1490390000.0,5904900000.0,4414510000.0,296.198311,30.0

In [280]:
rslt_df[rslt_df['Revenue Change %']< 0].count()

Ticker              70
Revenue 2012        70
Revenue 2021        70
Revenue Change $    70
Revenue Change %    70
Growth_Rank         70
dtype: int64

In [281]:
print(f"Median of Percent Revenue Change is {rslt_df['Revenue Change %'].median()}")
print(f"Mean of Percent Revenue Change is {rslt_df['Revenue Change %'].mean()}")

Median of Percent Revenue Change is 52.98032445273718
Mean of Percent Revenue Change is 148.36562357985858

In [282]:
rslt_df['Label'] = ['Growing Company' if x >= 0
                    else 'Declining Company' 
                    for x in rslt_df['Revenue Change %']]
rslt_df['Label'].value_counts()

Growing Company      328
Declining Company     70
Name: Label, dtype: int64

In [283]:
main_df.to_csv('execpay_financials_sp500.csv',index=False)